/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07 10, 19, 9:29:29 AM
    Author     : ACER
*/

*{
    -fx-primary: #2A2E37;
    -fx-secondary: #FFFF8D;
    -fx-primarytext: #B2b2b2;    
}
.root{
    -fx-background-color: #FFFFFF;
}
